swagger: "2.0"
info:
  description: deidentify images for Stanford Radiology
  version: "1.0.0"
  title: Radiology Deidentification API
  termsOfService: http://api.rit.stanford.edu/terms
  contact:
    name: vsochat@stanford.edu
  license:
    name: MIT
    url: https://github.com/radinformatics/som-api/blob/master/LICENSE
host: api.rit.stanford.edu
basePath: /radiology
schemes:
  - http
  - https
paths:

################################################################################
# DEIDENTIFY ENDPOINT
################################################################################

  /radiology/deidentify:
    post:
      tags:
        - deidentify
        - images
      summary: Deidentify images
      description: |
        The deidentify endpoint takes a person and one or more image items
        and returns a de-identified id that can be stored with the image
        to allow for future lookup of associated metadata with STRIDE."
      operationId: deidentifyImages
      consumes:
        - application/json
        - application/xml
      produces:
        - application/json
        - application/xml
      parameters:
        - in: header
          name: api_key
          description: "the api authentication required to perform deidentification"
          required: true
          type: string
        - in: body
          name: body
          description: entity that needs to be deidentified
          required: true
          schema:
            $ref: "#/definitions/Person"
      responses:
        "405":
          description: Invalid input
      security:
        - api_key: []
        - som_auth:
          - request_deidentify


################################################################################
# USER ENDPOINTS
################################################################################


  /users:
    post:
      tags:
        - user
      summary: Create user
      description: This can only be done by the logged in user.
      operationId: createUser
      produces:
        - application/json
        - application/xml
      parameters:
        - in: body
          name: body
          description: Created user object
          required: false
          schema:
            $ref: "#/definitions/User"
      responses:
        default:
          description: successful operation
  /users/createWithArray:
    post:
      tags:
        - user
      summary: Creates list of users with given input array
      description: ""
      operationId: createUsersWithArrayInput
      produces:
        - application/json
        - application/xml
      parameters:
        - in: body
          name: body
          description: List of user object
          required: false
          schema:
            type: array
            items:
              $ref: "#/definitions/User"
      responses:
        default:
          description: successful operation
  /users/createWithList:
    post:
      tags:
        - user
      summary: Creates list of users with given input array
      description: ""
      operationId: createUsersWithListInput
      produces:
        - application/json
        - application/xml
      parameters:
        - in: body
          name: body
          description: List of user object
          required: false
          schema:
            type: array
            items:
              $ref: "#/definitions/User"
      responses:
        default:
          description: successful operation
  /users/login:
    get:
      tags:
        - user
      summary: Logs user into the system
      description: ""
      operationId: loginUser
      produces:
        - application/json
        - application/xml
      parameters:
        - in: query
          name: username
          description: The user name for login
          required: false
          type: string
        - in: query
          name: password
          description: The password for login in clear text
          required: false
          type: string
      responses:
        "200":
          description: successful operation
          schema:
            type: string
        "400":
          description: Invalid username/password supplied
  /users/logout:
    get:
      tags:
        - user
      summary: Logs out current logged in user session
      description: ""
      operationId: logoutUser
      produces:
        - application/json
        - application/xml
      responses:
        default:
          description: successful operation


securityDefinitions:
  api_key:
    type: apiKey
    name: api_key
    in: header
  som_auth:
    type: oauth2
    authorizationUrl: http://api.rit.stanford.edu/oauth/dialog
    flow: implicit
    scopes:
      request_deidentify: make request (POST) to deidentify 


################################################################################
# DEFINITIONS
################################################################################


definitions:
  User:
    type: object
    properties:
      id:
        type: integer
        format: int64
      username:
        type: string
      firstName:
        type: string
      lastName:
        type: string
      email:
        type: string
      password:
        type: string
      phone:
        type: string
      userStatus:
        type: integer
        format: int32
        description: User Status

  StringField:
    type: object
    properties:
      key:
        type: string
      value:
        type: string

  FloatField:
    type: object
    properties:
      key:
        type: string
      value:
        type: number
        format: float


  Person:    
    type: object
    required:
      - id
      - id_source
      - id_timestamp
    properties:
      id:
        type: string
        example: 12345-6
      id_source:
        type: string
        example: Stanford MRN
      id_timestamp:
        type: string
        example: 2016-01-20T17:15:23.123Z
      suid:
        type: string
        example: s01012
      custom_fields:
        type: array
        description: an array of custom fields associated with the Person
        items:
          - $ref: "#/definitions/StringField"
          - $ref: "#/definitions/FloatField"
      items:
        type: array
        description: an array of items associated with the Person
        items:
        - $ref: "#/definitions/Item"


  Item:    
    type: object
    required:
      - id
      - id_source
      - id_timestamp
    properties:
      id:
        type: string
        example: 12345-6
      id_source:
        type: string
        example: GE PACS
      id_timestamp:
        type: string
        example: 2016-01-20T17:15:23.123Z
      custom_fields:
        type: array
        description: an array of custom fields associated with the item
        items:
          - $ref: "#/definitions/StringField"
          - $ref: "#/definitions/FloatField"
